---
layout: default
---

<div class="container">

	<h1 class="section-header">Colors</h1>
	<h2 class="section-subheader">Primary Colors</h2>
	<div class="row">
		{% assign color = site.colors | where: "kind", "primary" %}
		{% include loop-color.html %}
	</div>
	<h2 class="section-subheader">Basic Colors</h2>
	<div class="row">
		{% assign color = site.colors | where: "kind", "basic" %}
		{% include loop-color.html %}
	</div>
	<h2 class="section-subheader">Tints & Tones</h2>
	<p class="lead">
		These colors are lighter and darker variations of our main brand colors. These are especially helpful for hover states, illustrations, and other small variations.
	</p>
	<div class="row">
		{% assign color = site.colors | where: "kind", "primary" %}
		{% include loop-tint.html %}
	</div>

	<h2 class="section-subheader">Generated Colors</h2>
	<p class="lead">
		These colors are derived from combinations with other brand colors. These may be used as accents in illustrations and other design work, though they should not overpower our main brand colors. The official brand colors are displayed first for easy reference.
	</p>
	<div class="row">
		<div class="col-sm-6 col-md-3 mixed-colors color-primary">
			<h3 class="subheader"></h3>
			<div class="swatch"></div>

			<div class="mixed-with-primary">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
			<div class="mixed-with-secondary">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
			<div class="mixed-with-tertiary">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
			<div class="mixed-with-accent">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 mixed-colors color-secondary">
			<h3 class="subheader"></h3>
			<div class="swatch"></div>

			<div class="mixed-with-primary">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
			<div class="mixed-with-secondary">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
			<div class="mixed-with-tertiary">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
			<div class="mixed-with-accent">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 mixed-colors color-tertiary">
			<h3 class="subheader"></h3>
			<div class="swatch"></div>

			<div class="mixed-with-primary">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
			<div class="mixed-with-secondary">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
			<div class="mixed-with-tertiary">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
			<div class="mixed-with-accent">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3 mixed-colors color-accent">
			<h3 class="subheader"></h3>
			<div class="swatch"></div>

			<div class="mixed-with-primary">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
			<div class="mixed-with-secondary">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
			<div class="mixed-with-tertiary">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
			<div class="mixed-with-accent">
				<h4 class="subheader"></h4>
				<div class="swatch swatch-small"></div>
			</div>
		</div>
	</div>

	<!-- Typography -->

	<h1 class="section-header" id="typography">Typography</h1>

	<p class="lead">
		<strong class="primary-font"></strong> is used as our primary typeface and
		<strong class="accent-font"></strong> is used as an accent for headings and other special purposes.
	</p>

	<div class="type-specimen primary-font">
		<h2></h2>
		<h3>
			<span>Aa</span>
			<span>Bb</span>
			<span>Cc</span>
			<span>Dd</span>
			<span>012345679</span>
		</h3>
	</div>

	<div class="type-specimen accent-font">
		<h2></h2>
		<h3>
			<span>Aa</span>
			<span>Bb</span>
			<span>Cc</span>
			<span>Dd</span>
			<span>012345679</span>
		</h3>
	</div>


	<h2 class="section-subheader">Heading Samples</h2>

	<div class="heading-samples">
		<div class="row row-eq-height">
			<div class="col-xs-2 col-md-1">
				<p class="label">H1</p>
			</div>
			<div class="col-xs-10 col-md-11">
				<h1>The quick brown fox jumps over a lazy dog</h1>
			</div>
		</div>
		<div class="row row-eq-height">
			<div class="col-xs-2 col-md-1">
				<p class="label">H2</p>
			</div>
			<div class="col-xs-10 col-md-11">
				<h2>Amazingly few discotheques provide jukeboxes</h2>
			</div>
		</div>
		<div class="row row-eq-height">
			<div class="col-xs-2 col-md-1">
				<p class="label">H3</p>
			</div>
			<div class="col-xs-10 col-md-11">
				<h3>A wizard’s job is to vex chumps quickly in fog</h3>
			</div>
		</div>
		<div class="row row-eq-height">
			<div class="col-xs-2 col-md-1">
				<p class="label">H4</p>
			</div>
			<div class="col-xs-10 col-md-11">
				<h4>Bright vixens jump; dozy fowl quack</h4>
			</div>
		</div>
		<div class="row row-eq-height">
			<div class="col-xs-2 col-md-1">
				<p class="label">H5</p>
			</div>
			<div class="col-xs-10 col-md-11">
				<h5>Jackdaws love my big sphinx of quartz</h5>
			</div>
		</div>
		<div class="row row-eq-height">
			<div class="col-xs-2 col-md-1">
				<p class="label">H6</p>
			</div>
			<div class="col-xs-10 col-md-11">
				<h6>Pack my box with five dozen liquor jugs</h6>
			</div>
		</div>
		<div class="row row-eq-height">
			<div class="col-xs-2 col-md-1">
				<p class="label">p</p>
			</div>
			<div class="col-xs-10 col-md-11">
				<p>By Jove, my quick study of lexicography won a prize! Painful zombies quickly watch a jinxed graveyard. Grumpy wizards make a toxic brew for the jovial queen. A quick movement of the enemy will jeopardize six gunboats. Jackie will budget for the most
					expensive zoology equipment. Jim quickly realized that the beautiful gowns are expensive, then a cop quizzed Mick Jagger’s ex-wives briefly.</p>
			</div>
		</div>
	</div>
</div>
