<div class="col-sm-6 col-md-3 mixed-colors color-primary">
  <h3 class="subheader"></h3>
  <div class="swatch"></div>

  <div class="mixed-with-primary">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
  <div class="mixed-with-secondary">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
  <div class="mixed-with-tertiary">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
  <div class="mixed-with-accent">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
</div>
<div class="col-sm-6 col-md-3 mixed-colors color-secondary">
  <h3 class="subheader"></h3>
  <div class="swatch"></div>

  <div class="mixed-with-primary">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
  <div class="mixed-with-secondary">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
  <div class="mixed-with-tertiary">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
  <div class="mixed-with-accent">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
</div>
<div class="col-sm-6 col-md-3 mixed-colors color-tertiary">
  <h3 class="subheader"></h3>
  <div class="swatch"></div>

  <div class="mixed-with-primary">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
  <div class="mixed-with-secondary">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
  <div class="mixed-with-tertiary">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
  <div class="mixed-with-accent">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
</div>
<div class="col-sm-6 col-md-3 mixed-colors color-accent">
  <h3 class="subheader"></h3>
  <div class="swatch"></div>

  <div class="mixed-with-primary">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
  <div class="mixed-with-secondary">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
  <div class="mixed-with-tertiary">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
  <div class="mixed-with-accent">
    <h4 class="subheader"></h4>
    <div class="swatch swatch-small"></div>
  </div>
</div>
