/* Reset
------------------------------------------- */
html, body {
  font-size: 18px;
  line-height: 26px;
}
body > h1 {
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
body > p {
  margin-top: 0;
  margin-bottom: 20px;
}
h1.section-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  padding-bottom: 15px;
  font-weight: 400;
}
/* Reset
+++++++++++++++++++++++++++++++++++++++++++ */
/* layout
------------------------------------------- */
.container > .row {
  margin-bottom: 60px;
}
.no-gutters {
  padding-left: 15px;
  padding-right: 15px;
}
.no-gutters > * {
  padding: 0;
}
/* layout
+++++++++++++++++++++++++++++++++++++++++++ */
/* Color
------------------------------------------- */
.swatch {
  width: 100%;
  height: 140px;
  margin-bottom: 20px;
}
.color .label-hex {
  text-transform: uppercase;
}
.color .label {
  font-weight: 700;
  font-size: .8rem;
  margin-top: 0;
  margin-bottom: 0;
}
.color .label-color {
  text-align: right;
  font-weight: 400;
}
.color {
  margin-bottom: 30px;
}
/* Color
+++++++++++++++++++++++++++++++++++++++++++ */
/* Type
------------------------------------------- */
.type-specimen h2 {
  font-size: 60px;
  line-height: 70px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.type-specimen h3 {
  font-size: 40px;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
}
/* Type
+++++++++++++++++++++++++++++++++++++++++++ */
